/* From Uiverse.io by aryamitra06 */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    display: inline-block;
    width: 4px;
    height: 13px;
    background-color: rgba(255, 255, 255, .5);
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 15px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

.bar:nth-child(4) {
    animation-delay: .6s;
    margin: 0 5px;
}

@keyframes scale-up4 {
    20% {
        background-color: #2a2525;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}